*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.terminal{
    width: 300px;
    margin: 300px;
    background-color: aqua;
    padding: 30px  15px;
    border: 2px solid black;
    border-radius:10px ;
}

input{
    width: 100%;
    padding: 5px;
    outline: none;
    margin: 10px 0;
     border: none;
     background-color: aliceblue;
}
.btns button {
    width: 30%;
    margin: 3px 0;
    padding: 5px 0;
    
}
.btns{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.getCheck{
    width: 100%;
    padding: 7px;
    background-color: rgb(86, 244, 86);
    color: white;
    border: none;
    border-radius: 3px;
}
.reload{
    width: 100%;
    padding: 7px;
    background-color: rgb(255, 31, 1);
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
}
.ekran{
    padding: 5px;
    color: green ;
    margin-bottom: 10px;
    font-size: 20px ;
    font-family: 'Cascadia Mono ExtraLight';
    background-color: aliceblue;
    border-radius: 5px;
}
.check{
    width: 98%;
    border: 1px solid black;
    height: 260px;
    position: absolute;
    background-color: white;
    transform: translateY(0px);
    transition: 2s;
    z-index: -1;
    background-color: rgb(255, 253, 251);
    padding: 10px 5px;
    opacity: 1;
    
}
.outcheck{
    width: 80%;
    border: 2px solid red;
    padding: 2px;
    position: relative;
    bottom: 34px; 
    background-color: white;   
 
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  */

.boxes{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    margin: 200px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.chek{
  width: 87%;
  background-color: aqua;
  height: 50%;
  transform: translateY(30px);
  z-index: -1;
  position: absolute;
  transition: 2s;
}

.boxtab{
    width: 100%;
    border: 10px solid green ;
    height: 100%;
  }

  .boxes:hover .chek {
    transform: translateY(-100px);
  }





